.site-header{
  border: 10px solid red;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(blue,.9);
  padding: 10px 0;
  &__btn-container{
    float: right
  }
  &__logo{
    position: absolute;
    top: 0px;
    background-color: blue;
    padding: 25px 36px 25px 36px;

  }
  a{
    color: white;
    text-decoration: none;
    font-weight: 300;
  }

  &__menu-icon{
    background-color:blue;
    padding: 15px;
    width: 1%;
    float: right;
    @mixin atSmall{
      display: none;
    }

  }

  &__menu-content{
    display: none;

    @mixin atSmall{
      display: block;
    }
  }
}
