.site-footer{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;

  &__text{
    display: block;
    margin-bottom: 1rem;
    @mixin atMedium{
      display: inline-block;
      margin-right: 2rem;
    }
  }


}
