.testimonial {
    /*clear background: */
    background-color: rgba(255, 255, 255, .9);
    margin-bottom: 98px;
    &--c{
      margin-bottom: 0px;
    }

    @mixin atMedium{
      padding: 0 1.8125rem 1px18px;
      margin-bottom: 0px;

    }
    &__photo {

        border-radius: 80px;
        overflow: hidden;
        height: 160px;
        width: 160px;
        margin: 0px auto -80px auto;
        position: relative;
        top: -80px;
        border: 6px solid rgba(255, 255, 255, .9);
    }
    &__title {
        color: blue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    &__subtitle {
        color: orange;
        font-size: .9rem;
        text-align: center;
        margin-top: .25rem 0 .25rem 0;
    }

}
